{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/SlidingInfo.css' %}" media="screen">




<section class="u-align-center u-clearfix u-image u-valign-middle u-section-10" id="sec-bc1c" style="background-image: url('{{ information.background_image }}')">
  <div id="carousel-5989" data-interval="5000" data-u-ride="carousel" class="u-carousel u-slider u-slider-1">

    <div class="u-carousel-inner" role="listbox">
      <div class="u-active u-carousel-item u-container-style u-slide u-white u-carousel-item-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
<div class="center">  
  <img src="{{ information.bottom_half_small_image }}" width="100" height="100">
</div>
          <h4 class="u-align-center u-text u-text-default u-text-1">{{ information.bottom_half_heading}}<br>
          </h4>
          <p class="u-align-center u-large-text u-text u-text-variant u-text-2">{{ information.bottom_half_text}}</p>
        </div>
      </div>

    </div>

</section>

{% endblock content %}